/*
                        _                       
                       | |                      
   __ _ _   _ _   _    | |_ __ ___   __ _  ___  
  / _` | | | | | | |   | | '_ ` _ \ / _` |/ _ \ 
 | (_| | |_| | |_| |   | | | | | | | (_| | (_) |
  \__,_|\__, |\__, |   |_|_| |_| |_|\__,_|\___/ 
         __/ | __/ |                            
        |___/ |___/                            


https://github.com/DtigerCSK

*/

.features {
	background-image: url(https://i.imgur.com/IYhIDFS.jpg); 
	background-size: cover !important;
	width: 100%;
	background-attachment: fixed;
}

body {
	color: #ffffff;
	background-color: #1b1b1b;
}

.button {
	color: #ffffff;
	position: relative;
	z-index: 9000
}

.button:hover {
	color: #ffffff;
}

.container {
	padding-left: 50px;
	padding-right: 50px;
}

.line {
	width: 100%;
}

#loading {
	background-color: #1b1b1b;
	position: fixed;
	z-index: 9002;
	width: 100%;
	height: 100%;
}

.load {
	margin-top: 22.5%;
	text-align: center;
	margin-left: 47%;
}

small {
	color: #bdc3c7;
}

html, body {
	height: 100%;
}

.logo {
	max-width: 450px;
}

.intro {
	text-align: center;
}

img.intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.screenshots img {
	width: 100%;
	margin-bottom: 30px;
	opacity: 0.5;
	background-color: #000000;
	position: relative;
	z-index: 10;
}

.screenshots img:hover {
	opacity: 1;
}

.footer p {
	text-transform: uppercase;
	opacity: 0.75;
	font-size: 10px;
}

#download {
	text-align: center;

}

.lenny {
	font-size: 20px;
	font-family: "Arial", Arial, Sans-serif;
	font-weight: normal;
}

.youtubewrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*menu bar*/
.mbutton {
	display: inline-block;
}

.mbutton {
	text-decoration: none;
	color: #fff;
	padding: 10px 10px;
	height: 30px;
}

.menu {
	width: 100%;
	position: fixed;
	z-index: 9001;
	background-color: rgba(24,24,24, 0.8);
	height: 50px;
}

.menucontent {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.active {
	color: #1EAEDB;
}

.center {
	text-align: center;
	width: 100%;
}

.quotel {
	margin-right: 10px;
	opacity: 0.1;
}

.quoter {
	margin-left: 10px;
	opacity: 0.1;
}