/*
                        _                       
                       | |                      
   __ _ _   _ _   _    | |_ __ ___   __ _  ___  
  / _` | | | | | | |   | | '_ ` _ \ / _` |/ _ \ 
 | (_| | |_| | |_| |   | | | | | | | (_| | (_) |
  \__,_|\__, |\__, |   |_|_| |_| |_|\__,_|\___/ 
         __/ | __/ |                            
        |___/ |___/                            


https://github.com/DtigerCSK

*/

.features {
	background-image: url(https://i.imgur.com/IYhIDFS.jpg); 
	background-size: cover !important;
	width: 100%;
	background-attachment: fixed;
}

body {
	color: #ffffff;
	background-color: #1b1b1b;
}

.button {
	color: #ffffff;
	position: relative;
	z-index: 9000
}

.button:hover {
	color: #ffffff;
}

.container {
	padding-left: 50px;
	padding-right: 50px;
}

.line {
	width: 100%;
}

#loading {
	background-color: #1b1b1b;
	position: fixed;
	z-index: 9002;
	width: 100%;
	height: 100%;
}

.load {
	margin-top: 22.5%;
	text-align: center;
	margin-left: 47%;
}

small {
	color: #bdc3c7;
}

.logo {
	max-width: 450px;
}

.intro {
	text-align: center;
}

img.intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.screenshots img {
	width: 100%;
	margin-bottom: 30px;
	opacity: 0.5;
	background-color: #000000;
	position: relative;
	z-index: 10;
}

.screenshots img:hover {
	opacity: 1;
}

.footer p {
	text-transform: uppercase;
	opacity: 0.75;
	font-size: 10px;
}

#download {
	text-align: center;

}

.lenny {
	font-size: 20px;
	font-family: "Arial", Arial, Sans-serif;
	font-weight: normal;
}

.youtubewrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*menu bar*/
.mbutton {
	display: inline-block;
}

.mbutton {
	text-decoration: none;
	color: #fff;
	padding: 10px 10px;
	height: 30px;
}

.menu {
	width: 100%;
	position: fixed;
	z-index: 9001;
	background-color: rgba(24,24,24, 0.8);
	height: 50px;
	border-bottom: 1px solid #454545;
}

.menucontent {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.active {
	color: #1EAEDB;
}

.center {
	text-align: center;
	width: 100%;
}

.quotel {
	margin-right: 10px;
	opacity: 0.1;
}

.quoter {
	margin-left: 10px;
	opacity: 0.1;
}

#buy {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9003;
	background-color: #1b1b1b;
}

.scaleup {
	transform: scale(0.95);
	animation: scaleUp 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes scaleUp {
    100% {
        -webkit-transform: scale(1); 
    }
}

@keyframes scaleUp {
    100% {
        transform: scale(1); 
    }
}

.scaledown {
	transform: scale(1);
	animation: scaleDown 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes scaleDown {
    100% {
        -webkit-transform: scale(.95); 
    }
}

@keyframes scaleDown {
    100% {
        transform: scale(.95); 
    }
}

.pickerButton h2 {
	color: #3498db;
	background-color: #1b1b1b;
	background:-webkit-linear-gradient(top, #3498db, #3498db) no-repeat 0px 62px;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #3498db;
	display: inline-block;
}

.pickerButton h2:hover {
	color: #ffffff;
	background-color: #3498db;
	background:-webkit-linear-gradient(top, #3498db, #3498db) no-repeat 0px 0px;
	width: 300px;
	text-align: center;
}

.pickerButton h2:active {
	background:-webkit-linear-gradient(top, #2980b9, #2980b9) no-repeat 0px 0px;
}

.pickerButton {
	text-decoration: none;
	margin: 0 auto;
}

.dotloaderWrapper {
	text-align: center;
	margin-top: 20%;
	position: fixed;
	z-index: 9999;
	width: 100%;
}

.dotloaderWrapper i {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-name: loading;
}

@keyframes loading {
	0%	{transform: translate(0px,0px)}
	20%	{transform: translate(0px,-5px)}
	40%	{transform: translate(0px,0px)}
}

.dLoader2 {
	animation-delay: .1s;
}

.dLoader3 {
	animation-delay: .2s;
}

/*jackpot shit*/

.depositSkins {
	text-align: center;
	padding-top: 170px;
	position: relative;
	z-index: 20
}

.spinner {
	width: 402px;
	height: 402px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#spinnerBlank {
	width: 0px;
	height: 0px;
	border-right: 201px solid #34495e;
	border-top: 201px solid #34495e;
	border-left: 201px solid #34495e;
	border-bottom: 201px solid #34495e;
	border-top-left-radius: 201px;
	border-top-right-radius: 201px;
	border-bottom-left-radius: 201px;
	border-bottom-right-radius: 201px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10
}

#spinner {
	width: 0px;
	height: 0px;
	border-right: 200px solid transparent;
	border-top: 200px solid #2ecc71;
	border-left: 200px solid #2ecc71;
	border-bottom: 200px solid #2ecc71;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2
}

#spinner2 {
	width: 0px;
	height: 0px;
	border-right: 200px solid transparent;
	border-top: 200px solid #2ecc71;
	border-left: 200px solid #2ecc71;
	border-bottom: 200px solid #2ecc71;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	position: absolute;
	top: 1px;
	left: 1px;
	transform: rotate(85deg);
	-webkit-transform: rotate(85deg);
	-ms-transform: rotate(85deg);
	z-index: 1
}

/*Loser*/
#spinner3 {
	width: 0px;
	height: 0px;
	border-right: 200px solid #e74c3c;
	border-top: 200px solid #e74c3c;
	border-left: 200px solid #e74c3c;
	border-bottom: 200px solid #e74c3c;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 0
}

#win {
	width: 50px;
	height: 30px;
	background: #2ecc71;
	display: inline-block;
}

.win {
	display: inline;
	position: relative;
	bottom: 10px;
}

#loss {
	width: 50px;
	height: 30px;
	background: #e74c3c;
	display: inline-block;
}

.loss {
	display: inline;
	position: relative;
	bottom: 10px;
}

.inactive {
	pointer-events: none;
	cursor: default;
	color: #34495e;
}

.spin {
	tranform: rotate(1307deg);
	-webkit-transform: rotate(1307deg);
	-ms-transform: rotate(1307deg);
	transition-duration: 5s;
	-webkit-transition: all 7000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-transition: all 7000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-transition: all 7000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        transition: all 7000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.youLost {
	background-color: #2B2B2B;
	text-align: center;
	margin-bottom: 30px;
	border: 1px solid #454545;
	overflow: hidden;
	color: #e74c3c;
}